<!--Footer Starts-->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; max-width: 600px;" bgcolor="#eaeaea">
    <tbody>
    <tr>
        <td>
            <!--Footer Margin Top-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
                <tbody>
                <tr><td style="line-height: 0; font-size: 0;" height="30">&nbsp;</td></tr>
                </tbody>
            </table>
            <!--/.Footer Margin Top-->

            <!--Footer Content-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"  style="border-collapse: collapse; max-width: 455px;">
                <tbody>
                <tr>
                    <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
                    <td align="center" style="font-family: 'Raleway', Arial, sans-serif;font-size: 13px; line-height: 24px;color:#606060;">
                        <a href="#" style="color: #606060;text-decoration: none">www.voe.hr</a>&nbsp;&nbsp;|&nbsp;&nbsp;eKomi Ltd. Markgrafenstr. 11, 10969 Berlin Germany
                    </td>
                    <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
                </tr>
                <tr>
                    <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
                    <td style="font-family: 'Raleway', Arial, sans-serif;font-size: 13px; line-height: 24px;color:#606060;" align="center">
                        <a href="#" style="color: #606060;text-decoration: none">Unsubscribe</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" style="color: #606060;text-decoration: none">Terms &amp; Conditions</a>
                    </td>
                    <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <!--/.Footer Content-->

            <!--Footer Margin Bottom-->
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#eaeaea" style="border-collapse: collapse;">
                <tbody>
                <tr><td style="line-height: 0; font-size: 0;" height="30">&nbsp;</td></tr>
                </tbody>
            </table>
            <!--/.Footer Margin Bottom-->
        </td>
    </tr>
    </tbody>
</table>
<!--Footer Ends-->