<!--Login Credentials-->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"  style="border-collapse: collapse;">
    <tbody>
    <tr>
        <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
        <td>

            <table border="0" cellpadding="0" cellspacing="0" align="center" style="border: 1px solid #e8e8e8; border-radius: 4px; max-width: 290px;" width="290" bgcolor="#f2f2f2" >
                <tbody>
                    <tr>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
                        <td width="12" align="center">
                            <img src="images/icons/icon-user.png" alt="Image Not Found" style="display: block; max-width: 100%;" height="12">
                        </td>
                        <td style="line-height: 0; font-size: 0;" width="10">&nbsp;</td>
                        <td width="80" align="left" style="font-family: 'Raleway', Arial, sans-serif;font-size: 14px; line-height: 24px;color:#606060;"><strong>Username:</strong></td>
                        <td style="line-height: 0; font-size: 0;" width="10">&nbsp;</td>
                        <td align="left" style="font-family: 'Raleway', Arial, sans-serif;font-size: 14px; line-height: 24px;color:#606060;">Muhammad Jahangir</td>
                        <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="7">&nbsp;</td>
                        <td height="7">&nbsp;</td>
                        <td height="7">&nbsp;</td>
                        <td height="7">&nbsp;</td>
                        <td height="7">&nbsp;</td>
                        <td height="7">&nbsp;</td>
                        <td height="7">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
                        <td width="12" align="center">
                            <img src="images/icons/icon-lock.png" alt="Image Not Found" style="display: block; max-width: 100%;" height="12">
                        </td>
                        <td style="line-height: 0; font-size: 0;" width="10">&nbsp;</td>
                        <td width="80" align="left" style="font-family: 'Raleway', Arial, sans-serif;font-size: 14px; line-height: 24px;color:#606060;"><strong>Password:</strong></td>
                        <td style="line-height: 0; font-size: 0;" width="10">&nbsp;</td>
                        <td align="left" style="font-family: 'Raleway', Arial, sans-serif;font-size: 14px; line-height: 24px;color:#606060;">Coeus-solutions</td>
                        <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                        <td height="15">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
    </tr>
    </tbody>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"  style="border-collapse: collapse;">
    <tbody>
    <tr>
        <td style="line-height: 0; font-size: 0;" height="30">&nbsp;</td>
    </tr>
    </tbody>
</table>
<!--/.Login Credentials-->