<!--The VOE TEAM Link-->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; max-width: 600px;">
    <tbody>
    <tr>
        <td style="line-height: 0; font-size: 0;" width="15px" height="30px">&nbsp;</td>
        <td style="line-height: 0; font-size: 0;" height="30px">&nbsp;</td>
        <td style="line-height: 0; font-size: 0;" width="15px" height="30px">&nbsp;</td>
    </tr>
    <tr>
        <td style="line-height: 0; font-size: 0;" width="15px">&nbsp;</td>
        <td align="center" valign="middle" style="font-family: 'Raleway', Arial, sans-serif;font-size: 18px; line-height: 26px;">
            <a href="#" style="color: #2DA137;text-decoration: none;line-height: 26px;">The VoE Team&nbsp;&nbsp;<img
                    src="images/waves.png" alt="Waves Image Not found" style="display: inline-block;max-width: 100%;" height="16px"></a>
        </td>
        <td style="line-height: 0; font-size: 0;" width="15px">&nbsp;</td>
    </tr>
    <tr>
        <td style="line-height: 0; font-size: 0;" width="15px" height="30px">&nbsp;</td>
        <td style="line-height: 0; font-size: 0;" height="30px">&nbsp;</td>
        <td style="line-height: 0; font-size: 0;" width="15px" height="30px">&nbsp;</td>
    </tr>
    </tbody>
</table>
<!--The VOE TEAM Link-->