{% extends 'template/_layout/default.html' %}
{% set pageTitle = "Template Index" %}

{% block content %}
{% set section = {thumbnail:'illustration.png', thumbnailHeight: '93', title: 'Welcome to Team Name'} %}
{% include 'template/_core/content-header.html' %}
<!--The VOE TEAM Link-->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; max-width: 600px;">
    <tbody>
    <tr>
        <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
        <td align="center" valign="middle" style="font-family: 'Raleway', Arial, sans-serif;font-size: 18px; line-height: 26px;">
            <ol style="text-align: left;">
                <li><a href="temp-1.html" target="_blank">Template 1</a></li>
                <li><a href="temp-1A.html" target="_blank">Template 1A</a></li>
                <li><a href="temp-2.html" target="_blank">Template 2</a></li>
                <li><a href="temp-3.html" target="_blank">Template 3</a></li>
                <li><a href="temp-4.html" target="_blank">Template 4</a></li>
                <li><a href="temp-5.html" target="_blank">Template 5</a></li>
                <li><a href="temp-6.html" target="_blank">Template 6</a></li>
                <li><a href="temp-7.html" target="_blank">Template 7</a></li>
                <li><a href="temp-8.html" target="_blank">Template 8</a></li>
                <li><a href="temp-9.html" target="_blank">Template 9</a></li>
                <li><a href="temp.html" target="_blank">Template</a></li>
            </ol>
        </td>
        <td style="line-height: 0; font-size: 0;" width="15">&nbsp;</td>
    </tr>
    <tr>
        <td style="line-height: 0; font-size: 0;" width="15" height="30">&nbsp;</td>
        <td style="line-height: 0; font-size: 0;" height="30">&nbsp;</td>
        <td style="line-height: 0; font-size: 0;" width="15" height="30">&nbsp;</td>
    </tr>
    </tbody>
</table>
<!--The VOE TEAM Link-->

{% set button = {string: 'Call to Action'} %}
{% include 'template/_core/button.html' %}

{% set reference = {string: 'Wave Link String'} %}
{% include 'template/_core/wave-link.html' %}
{% endblock %}
