{% extends 'template/_layout/default.html' %}
{% set pageTitle = "Template Index" %}

{% block content %}
{% set section = {thumbnail:'illustration.png', thumbnailHeight: '93px', title: 'Welcome to VOE'} %}
{% include 'template/_core/content-header.html' %}
<!--The VOE TEAM Link-->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; max-width: 600px;">
    <tbody>
    <tr>
        <td style="line-height: 0; font-size: 0;" width="15px">&nbsp;</td>
        <td align="center" valign="middle" style="font-family: 'Raleway', Arial, sans-serif;font-size: 18px; line-height: 26px;">
            <ol style="text-align: left;">
                <li><a href="temp-8.html">Template 8</a></li>
                <li><a href="temp-9.html">Template 9</a></li>
                <li><a href="temp.html">Template</a></li>
            </ol>
        </td>
        <td style="line-height: 0; font-size: 0;" width="15px">&nbsp;</td>
    </tr>
    <tr>
        <td style="line-height: 0; font-size: 0;" width="15px" height="30px">&nbsp;</td>
        <td style="line-height: 0; font-size: 0;" height="30px">&nbsp;</td>
        <td style="line-height: 0; font-size: 0;" width="15px" height="30px">&nbsp;</td>
    </tr>
    </tbody>
</table>
<!--The VOE TEAM Link-->

{% set button = {string: 'Results'} %}
{% include 'template/_core/button.html' %}

{% include 'template/_core/wave-link.html' %}
{% endblock %}
